{{> head }}
    {{> navbar }}

<div class="row">
  <div class="col-md-6">
    <h2>Mi imagen personal</h2>
  </div>
  <div class="col-md-6">
    <img src="{{ imageUrl }}" class="rounded mx-auto d-block" width="200" height="200" alt="...">
  </div>

</div>


{{> footer }}